/* Fading Tooltips By Dustin Diaz*/
body div#toolTip { position:absolute;z-index:1000; width:130px; background:#004489;border:2px double #fff;text-align:left;padding:2px;min-height:1em;-moz-border-radius:5px; }
body div#toolTip p { margin:0;padding:0;color:#fff;font:8pt Tahoma,verdana,arial,sans-serif;font-weight:bold; }
body div#toolTip p em { display:block;margin-top:3px;color:#f60;font-style:normal;font-weight:bold; }
body div#toolTip p em span { font-weight:bold;color:#fff; }
